# emscripten/WebAssembly
# http://webassembly.org/getting-started/developers-guide/
export PATH=/Users/ryo/src/emsdk:/Users/ryo/src/emsdk/clang/e1.37.22_64bit:/Users/ryo/src/emsdk/node/4.1.1_64bit/bin:/Users/ryo/src/emsdk/emscripten/1.37.22:$PATH

export EMSCRIPTEN=/Users/ryo/src/emsdk/emscripten/1.37.22
